body{
    font-family: 'Acme', sans-serif;
}
h1{
    font-size: 40px;
}

.chosen-color{
    color:#C70039 ;
}
.half-width{
    width: 50%;
   padding-left: 10%;
   

}
.half-width img{
    width: 65%;
}
.explore-button{
    text-decoration:none;
    background-image:linear-gradient(#C70039,tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.flexible-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 50px; 
}
.para-padding{
    padding-top: 5px;
    padding-bottom: 35px;
}
.para-align{

    text-align:justify;
    margin-right: 10px;
    padding-right: 200px;
}
#text-border{
    line-height: 35px;
    padding-left: 9px;
    border-left: 4px solid;
    
    border-image:linear-gradient(#C70039,tomato);
    border-image-slice: 1;   
}
.text-align{
    text-align: center;
}
.one-third-width img{
    width: 50%;
    padding-left: 0;
    
}
.one-third-width{
        display: flex;
        margin-top: 50px;
        
}
#mission{
    background-color:rgb(241, 221, 221);
    border-radius: 20px;
    margin-left:10%;
    margin-right: 1%;
    
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#vision{
    background-color:rgb(203, 204, 238);
    border-radius: 20px;
    margin-left:1%;
    margin-right: 1%;
    
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#goals{
    background-color:rgb(220, 243, 213);
    border-radius: 20px;
    margin-left:1%;
    margin-right: 10%;
    
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#develop-image{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:200px 220px;
    background-position:left; 
   
}
#develop-text{
    margin-right: 20%;
    padding-right: 5%;
    
 
}
#d-image{
    padding-left: 2%;
    height: 100%;
    width: 100%;
}

.fourth-section-padding{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:right; 
    background-size:13%;
    padding-bottom:120px;
    background-position-x: 1050px;

    
}
